
<div class="sidenav" [ngClass]="{'mobsidenav':sideExpanded}">
  <ul class="sidenav-list">
    <li><a href="javascript:void(0)" (click)="mobnav()">X<span>Collapse</span></a></li>
    <li><a routerLink="home"><i class="fas fa-home"></i><span>Home</span></a></li>
    <li><a href="/body1"><i class="fas fa-book"></i><span>body1</span></a></li>
    <li><a href=""><i class="fas fa-network-wired"></i><span>body2</span></a></li>
    <li><a href="/body3"><i class="fas fa-address-card"></i><span>body3</span></a></li>
    <li><a href="/body4"><i class="fas fa-user-friends"></i><span>body4</span></a></li>
  </ul>
</div>